.course-details-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  margin-top: 20px;
  padding: 20px 20px 20px 20px;
}

.course-image{
  width: 300px;
  height: 200px;
  box-shadow: 0px 0px 2px 2px rgb(41, 5, 5);
}

.course-details-card-full{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-info-section-h3{
  box-shadow: 0px 0px 1px 1px rgb(43, 4, 4);
}

.course-info-section-p{
  box-shadow: 0px 0px 1px 1px rgb(43, 4, 4);
  padding: 2px 2px 2px 2px;
}

.course-info-section-h4{
  box-shadow: 0px 0px 1px 1px rgb(43, 4, 4);
}

.button-section-div-sec{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.button-section-div-sec-update{
  width: 300px;
  background-color: rgb(34, 25, 85);
}

.button-section-div-sec-delete{
  width: 300px;
  background-color: red;
}

@media (max-width:1212px) {
  .course-details-card-full{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .course-details-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .course-details-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .course-info-section-h3{
    font-size: 30px;
  }

  .course-details-container-h2{
    font-size: 30px;
  }

  .course-info-section-p{
    font-size: 30px;
  }

  .course-info-section-h4{
    font-size: 30px;
  }

  .course-details-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .button-section-div-sec{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .button-section-div-sec-update{
    width: 200px;
    font-size: 30px;
  }

  .button-section-div-sec-delete{
    width: 200px;
    font-size: 30px;
  }
}

@media (max-width:764px) {
  .course-details-card-full{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .course-details-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .course-details-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .course-info-section-h3{
    font-size: 30px;
  }

  .course-details-container-h2{
    font-size: 30px;
  }

  .course-info-section-p{
    font-size: 30px;
  }

  .course-info-section-h4{
    font-size: 30px;
  }

  .course-details-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .button-section-div-sec{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .button-section-div-sec-update{
    width: 200px;
    font-size: 30px;
  }

  .button-section-div-sec-delete{
    width: 200px;
    font-size: 30px;
  }
}