.cart-titles{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  justify-content: space-between;
  margin-top: 20px;
}

.cart-titles{
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  color: rgb(6, 38, 38);
  box-shadow: 0px 4px 10px rgb(17, 4, 104);
  background-color: rgb(79, 71, 60);
  color: antiquewhite;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.cart-titles-title{
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  color: rgb(6, 38, 38);
  cursor: pointer;
  box-shadow: 0px 4px 10px rgb(17, 4, 104);
  background-color: rgb(79, 71, 60);
  color: antiquewhite;
  text-align: center;
}

.hr-br-cr{
  width: max-content;
  visibility: hidden;
}

.cart-thumbnail{
  width: 100px;
  height: 40px;
}

.cart-controls{
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
  justify-content: center;
}

.button-subtract{
  width: 50px;
  height: 50px;
  border: 0px solid red;
  border-radius: 100px;
  background-color: rgb(123, 194, 194);
}

.button-subtract:hover{
  background-color: rgb(101, 185, 185);
}

.button-add{
  width: 50px;
  height: 50px;
  border: 0px solid red;
  border-radius: 100px;
  background-color: rgb(190, 9, 31)
}

.button-add:hover{
  background-color: rgb(179, 6, 26)
}

.totalAmout-h2{
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  color: rgb(6, 38, 38);
  box-shadow: 0px 2px 2px 4px rgb(234, 86, 86);
}
