.interim-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.interim-section-img-1{
  width: 300px;
  height: 300px;
  box-shadow: 0px 0px 2px 2px rgb(155, 65, 65);
}

.interim-section-img-1:hover{
  width: 310px;
  height: 310px;
}

.interim-section-img-2{
  width: 300px;
  height: 300px;
  box-shadow: 0px 0px 2px 2px rgb(155, 65, 65);
}

.interim-section-img-2:hover{
  width: 310px;
  height: 310px;
}

.interim-section-img{
  display: flex;
  gap: 100px;
}

.interim-section-h1{
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 40px;
  color: rgb(93, 10, 13);
}

@media (max-width:764px) {
  .interim-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    gap: 10px;
    text-align: center;
  }

  .interim-section-img{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .interim-section-img-1{
    width: 200px;
    height: 200px;
  }

  .interim-section-img-2{
    width: 200px;
    height: 200px;
  }
}