.educator-personal-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(248, 247, 245);
  border: 2px solid white;
  box-shadow: 0px 0px 2px 2px;
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
  height: 500px;
  margin-top: 100px;
  margin-bottom: 100px;
  gap: 20px;
  box-shadow: 0px 0px 2px 2px rgb(9, 3, 28);
}

.educator-button-section-btn-1{
  width: 100px;
  height: 50px;
  box-shadow: 0px 0px 2px 2px rgb(9, 3, 28);
}

.educator-button-section-btn-2{
  width: 100px;
  height: 50px;
  box-shadow: 0px 0px 2px 2px rgb(24, 0, 0);
  background-color: rgb(115, 9, 9);
}

.educator-button-section-btn-2:hover{
  background-color: rgb(116, 15, 15);
}

.educator-button-section-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.educator-info-image-img{
  box-shadow: 0px 0px 2px 2px rgb(2, 70, 25);
}

.educator-info-div-text-h3{
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  color: rgb(12, 29, 29);
}

.educator-info-div-text-p{
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  color: rgb(12, 29, 29);
}