.upcoming-course-thumbnail{
  width: 300px;
  height: 200px;
  box-shadow: 0px 2px 2px 5px rgb(72, 43, 43);
}

.course-info-title{
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  color: rgb(6, 38, 38);
  cursor: pointer;
  box-shadow: 0px 4px 10px rgb(219, 98, 98);
  background-color: rgb(207, 190, 167);
  cursor: not-allowed;
}

.upcoming-course-description{
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  color: rgb(6, 38, 38);
  cursor: pointer;
  box-shadow: 0px 4px 10px rgb(219, 98, 98);
  background-color: rgb(207, 190, 167);
  cursor: not-allowed;
}

.upcoming-course-coursePrice{
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  color: rgb(6, 38, 38);
  cursor: pointer;
  box-shadow: 0px 4px 10px rgb(219, 98, 98);
  background-color: rgb(207, 190, 167);
  cursor: not-allowed;
}

.upcoming-course-discount{
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  color: rgb(6, 38, 38);
  cursor: pointer;
  box-shadow: 0px 4px 10px rgb(219, 98, 98);
  background-color: rgb(207, 190, 167);
  cursor: not-allowed;
  width: 400px;
}

.upcoming-course-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 30px;
}


.course-content{
  text-align: center;
}

.chapter-h4{
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  color: rgb(6, 38, 38);
  cursor: pointer;
  box-shadow: 0px 4px 10px rgb(219, 98, 98);
  background-color: rgb(207, 190, 167);
}

.chapter-h4:hover{
  background-color: rgb(177, 162, 141);
}

.lecture-h6{
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 15px;
  color: rgb(6, 38, 38);
  cursor: pointer;
  box-shadow: 0px 4px 10px rgb(17, 4, 104);
  background-color: rgb(207, 190, 167);
  cursor: not-allowed;
}

.lecture-h6:hover{
  cursor: not-allowed;
}

.preview{
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  color: rgb(6, 38, 38);
  cursor: pointer;
  box-shadow: 0px 4px 10px rgb(17, 4, 104);
  background-color: rgb(79, 71, 60);
  color: antiquewhite;
}

.preview:hover{
  background-color: rgb(175, 155, 126);
}

.upcoming-course-detail-button{
  display: flex;
  align-items: center;
  gap: 20px;
}

.upcoming-course-detail-button-1{
  box-shadow: 0px 0px 2px 2px blue;
  width: 100px;
  text-align: center;
}

.upcoming-course-detail-button-2{
  background-color: rgb(158, 45, 45);
  box-shadow: 0px 0px 2px 2px red;
  width: 100px;
  text-align: center;
}

.upcoming-course-detail-button-2:hover{
  background-color: rgb(159, 39, 39);
}

.upcoming-course-detail-button-3{
  background-color: rgb(14, 67, 14);
  box-shadow: 0px 0px 2px 2px rgb(6, 50, 12);
  width: 100px;
  text-align: center;
}

.upcoming-course-detail-button-3:hover{
  background-color: rgb(8, 36, 8);
  box-shadow: 0px 0px 2px 2px rgb(6, 50, 12);
}

.heart-icon{
  width: 25px;
  height: 25px;
}

.heart-icon:hover{
  width: 27px;
  height: 27px;
}

.comment-pen{
  width: 25px;
  height: 25px;
}

.comment-pen:hover{
  width: 27px;
  height: 27px;
}

.comment-remove{
  width: 25px;
  height: 25px;
}

.comment-remove:hover{
  width: 27px;
  height: 27px;
}

.div-section-comments{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.comments-section-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 2px solid grey;
  width: 300px;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}

.show-comments-section{
  width: 50px;
  height: 50px;
}

.show-comments-section:hover{
  width: 52px;
  height: 52px;
}

@media (max-width:764px) {
  .course-info-title-h1{
    font-size: 30px;
  }
  .course-info-title-description-p{
    font-size: 30px;
  }
  .course-info-title-price-h3{
    font-size: 30px;
  }
  .course-info-title-discount-h3{
    font-size: 30px;
  }
  .course-info-chapter-chapterContent-h4{
    font-size: 30px;
  }
  .lecture-lectureTitle{
    font-size: 30px;
  }
  .lecture-lectureDuration{
    font-size: 30px;
  }
  .preview{
    font-size: 30px;
  }
}