.header-section-content {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 100px;
  margin-bottom: 50px;
}

/* Slide wrapper */
.header-slide {
  transition: opacity 0.3s ease;
}

/* Fade states */
.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

/* Image */
.header-image-img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

/* Text section */
.header-h3-section {
  position: absolute;
  top: 40%;
  left: 10%;
  color: white;
  max-width: 500px;
}

.header-h3-section-h33 {
  font-size: 32px;
  margin-bottom: 10px
}

.header-h3-section-h66 {
  font-size: 16px;
  opacity: 0.9;
}

@media (max-width: 1212px) {
  .header-image-img{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .header-image-img{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 97%;
    padding: 0;
  }
}


