.order-card-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  box-shadow: 0px 0px 8px 8px rgb(75, 73, 73);
}

.myorders-page{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width:1212px) {
  .order-card-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    box-shadow: 0px 0px 8px 8px rgb(75, 73, 73);
  }  
}

@media (max-width:764px) {
  .order-card-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    box-shadow: 0px 0px 8px 8px rgb(75, 73, 73);
  }  
}