@media (max-width:1212px) {
  .form-addlecture-section {
    width: 100%;
    padding: 15px;
  }
}

@media (max-width:764px) {
  .form-addlecture-section {
    margin-left: 0;
    width: 100%;
    padding: 15px;
  }
}
