@media (max-width:1212px) {
  .student-update-form-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .student-update-form-update-image-p{
    font-size: 30px;
  }

  .student-update-form-section input{
    font-size: 30px;
    width: 300px;
  }

  .student-update-form-update-profile-bio{
    font-size: 30px;
  }
}


@media (max-width: 764px) {
  .student-update-form-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-left: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .student-update-form-update-name-h3 {
    font-size: 16px;
  }

  .student-update-form-update-email-h3 {
    font-size: 16px;
  }

  .student-update-form-update-password-h3 {
    font-size: 16px;
  }

  .student-update-form-update-profile-bio {
    font-size: 16px;
  }

  .student-update-form-h1 {
    font-size: 16px;
  }
}